.profile-item {
  background: white;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}

.profile-item:hover {
  background: #198754;
  color: white;
}

.active-menu {
  background: #198754 !important;
  color: white !important;
  font-weight: bold;
}